
/* MainBody Wrapper css here */
.mainBodyWrapper{
  flex: 4;
  background-color: #e5e5e5;
  padding: 20px;
}
.bodyTop{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin-bottom: 20px
}
.bodyTop h3{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;

color: #242424;
}
.bodyTop button{
  width: 123px;
height: 42px;
background: #2CA4D8;
box-shadow: 0px 2px 20px rgba(56, 181, 235, 0.2);
border-radius: 10px;
padding: 8px 32px;
text-align: center;
letter-spacing: 1.25px;
text-transform: uppercase;
color: #FFFFFF;
font-weight: 500;
font-size: 14px;
line-height: 26px;
border: none;
}
.bodyBottom{
  flex:2;
}
.tableWrapper{
  height: 554px;
  background: #FFFFFF;
  border: 1px solid #E2E5EB;
  border-radius: 10px;
}

.users {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Montserrat' ,sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.users td, .users th {
  border-bottom: 1px solid #ddd;
  padding: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #242424;
}
.users th{
font-weight: 600;
}

.users tr:first-child{border-radius: 10px 10px 0px 0px;}
.users th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #F1F4F8 !important;
  /* color: white; */
  text-align: center;
}
.users td{
  text-align: center;
}
.users tr{
  background-color: #FFFFFF;
  height: 50px;
}
.users tr:hover {
  background-color: #F1F4F8 !important;
}

.passed,.failed{
  background-color: #2CBF6E;
  border-radius: 16px;
  margin: 0;
  padding: 5px 0px !important;
  color: white !important;
}
.failed{
  background-color: #F24643;
}


.gradeBlue{
  color: #2CA4D8 !important;
}
.gradeRed{
  color: #F24643 !important;
}
.greadeExcellent{
  color: #2CBF6E !important;
}
.users td:last-child{
  width: 180px !important;
}
.users td:last-child i{
  width: 10px;
  opacity: 0;
  cursor: pointer;
}
.users td:last-child:hover i{
 opacity: 1;
}
.users td:last-child > i {
  margin: 0px 10px;
}


/* 
.bodyBottom table{
  width: 1104px;
  border: 1px solid #D3D6DB;
  border-radius: 10px;
}
.bodyBottom table tr {
  height: 50px;
}
.bodyBottom table tr:first-child{
  height: 34px;
  background: #F1F4F8;
  height: 34px;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}
.bodyBottom table tr:first-child th{
  font-size: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #242424;
}
.bodyBottom table tr td{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
.bodyBottom table tr:hover{
  background: #F1F4F8;
} */